<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contributors</title>
</head>
<body>
    <header>
        <h1>Get Top 5 contributors of GitHub repository</h1>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            {% endfor %}
            <button type="submit">Get contributors</button>
        </form>
    </main>
</body>
</html>